<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mpts.ACVerify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mpts.ACVerify.Properties.Settings>
            <setting name="SuppressCommonAssembliesInconsistancy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommonAssembliesSeparatedBySemicolon" serializeAs="String">
                <value>mscorlib</value>
            </setting>
            <setting name="SuppressAssembliesThatConainsOnlyResourcesForParticularCulture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadAssembliesIntoDifferentDomain" serializeAs="String">
                <value>False</value>
            </setting>
        </Mpts.ACVerify.Properties.Settings> 
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
